@import url('https://fonts.google.com/specimen/Special+Elite#standard-styles');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

.container-menu{
    display: flex;
    flex-direction:column;
    width: 100%;
    background-color: #dbe3eb;
 
}
.container-barra-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #dbe3eb;
    justify-content: space-around;
}

.img-logo{
    width: 90px;
    margin-left: 87px;
    
}
.bt-busca{
    display: flex;
    background-color: #D0D7D9;
    border:solid 2px #9CA3A6;
    border-radius:10px;
    width: 323px;
    height: 33px;
    margin-top: 17px;
}
.txt-busca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:15px;
    width: 289px;
    height: 28px;
    border-radius:10px;
}
.btn-busca{
    border:none;
    float:left;
    height:33px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#9CA3A6;
}
.img-busca{
    float:left;
    width: 29px;
    margin-left: 15px;
}
.itens-menu{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.itens{
    display: flex;
    flex-direction: row;
}
.icone-img{
    width: 35px;
    height: 35px;
    margin: 0 5px 0 0;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu{
    width: 100%;
    height: 50px;
    background-color:#9CA3A6;
    font-family: 'Arial';
}
.menu ul{
    list-style-type: none;
    position: relative;
}
.menu ul li{
    width: 150px;
    float: left;
}
.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color:#9CA3A6;
    color: white;
}
.menu a:hover{
    background-color:#363B40;
    color: #E9F0F2;
}
label[for="input"]{
    padding: 5px;
    background-color: #9CA3A6;
    color: azure;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#input{
    display: none;
}
label[for="input"]{
    display:none ;
}
/*RESPONSIVIDADE HEADER */

@media (max-width:800px) {
    .menu{
        margin-top: 5px;
        margin-left:-100% ;
        transition: all .4s;
    }
    .menu ul li{
        width: 100%;
        float: none;
    }
    label[for="input"]{
        display:block ;
    }
    #input:checked ~.menu{
        margin-left: 0;
    }
}

@media screen and (max-device-width : 800px) {
    /* celulares */
    .container-barra-menu {
        display: flex;
        background-color: #dbe3eb;
        justify-content: space-around;
        flex-direction: column;
      }
    .element {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .bt-busca {
        margin: 5%;
        margin-left: none;
    }
    .img-logo{
        margin-left: 0px;
    }
}

/*PAGINA INICIAL*/
.pagina-inicial{
    background-color: #c8d9ec;
}
.chamada{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.chamada p{
    font-family: 'Special Elite';
    font-size: 3em;
    margin: 0 auto;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;

}
.chamada p{
    animation:blinkCursor 500ms steps(40) infinite normal, texto 4s steps(40) 1s normal both;
}
@keyframes texto{
    from{
        width: 0;
    }
    to{
        width: 10em;
    }
}
@keyframes blinkCursor {

    from {
        border-right-color:black;
    }
    to{
        border-right-color: transparent;
    }
}
.container-pagina-inicial{
    display: flex;
    flex-direction: column;
}
.card-pagina-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 97px;
    margin-bottom: 90px;
}
.cards-pagina{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    gap: 5px;
    border-radius: 10%;
    padding: 2% 0 ;
    background-color: #f5f5f5;
    margin-left: 44px;
    width: 23%;
}
.card-pagina-inicial :hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.cards-pagina button{
    width: 118px;
    height: 40px;
    background-color:#363B40;;
    border: medium none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
    outline: currentcolor none medium;
    font-weight: bold;
}
@media screen and (max-device-width :480px) {
    .chamada p {
        font-size: 2em;
    }
    .card-pagina-inicial {
        flex-direction: column;
        margin-top: 51px;
    }
    .cards-pagina {
        width: 249px;
        margin-left: 0px;
        margin-bottom: 22px;
    }
    .cards-pagina h3{
        height: 32.233px;
        width: 132.933px;
    }
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    text-align: center;
    background-color: #dbe3eb;
    color: #2e3237;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0px;
    width: 98%;
    
}

.site-map {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.icones-pequenos {
    width: 4%;
    height: 4%;
}

.footer-margin {
    width: 30%
}

a {
    color: #7c848c;
    font-weight: bold;
}

@media screen and (max-device-width :480px) {
    
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer-margin {
        margin: 5%;
        width: 100%;

    }
    
    .site-map {
        margin: 5%;
        width: 100%;
    }
}

/* Página itens individuais*/

.item-individual {
    display: flex;
    background-color: #c8d9ec ;
    justify-content: space-between;
    margin: 0 20%;
    border: 1px #7c848c solid;
    padding: 5%;
    
}

.descriçao-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px #7c848c solid;
    padding: 1% 10% 1% 1%;
    color: #2e3237;
    
}

.imagem-item-grande {
    width: 100%;
    height: 100%;
}

@media screen and (max-device-width :480px) {
    
    .item-individual{
        flex-direction: column;
    }

    .descriçao-item {
        align-items: center;
        text-align: center;
    }
}

/* Contato */

.contato {
    text-align: center;
    color: #2e3237;
    background-color: #c8d9ec;
    padding: 2%;
}

/*LOGIN*/
.container-login{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 40px;
    justify-content: space-evenly;
    margin-top: 80px;

}
.forms{
    border: 1px solid #403C36;
    border-radius: 5px;
    padding: 40px;
    width:280px;
    margin-bottom: 200px;
    margin-top: 95px;
    
}
.titulo-forms{
    padding-bottom: 20px;
    color: black;
}
.card-itens{
    display: flex;

    flex-direction: column;

    padding:10px 0;
}
.card-itens input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #9CA3A6;

}
.input-login{
    display: flex;
    flex-direction: column;
}
.btn-login .bt-card{
    width: 100%;
    height: 40px;
    background-color: #403C36;;
    border:none;
    color:white;
    margin: 10px 0;
    font-size: 20px;

}

.input-login a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: black;
    text-decoration: none;
}
.btn-login :hover{
    background-color:#9CA3A6;
}
/*RESPONSIVIDADE DE LOGIN*/
@media screen and (max-device-width : 800px) {
    .container-login{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        align-items: center;
    }
    .forms {
        margin-bottom: 13px
    }
}

/*Femininos e Masculinos*/

.galeria-produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);   
    background-color: #c8d9ec;
    color: #2e3237;
    padding: 2% 7% 7% 7%;
    row-gap: 5%;
    column-gap: 5%;
}

.card{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    gap: 5px;
    border-radius: 10%;
    padding: 2% 0 ;
    background-color: #f5f5f5;
}

.card-image{
    width: 10em;
    height: 10em;
    border-radius: 10%;
}

@media screen and (max-width:480px){

    .galeria-produtos {
        grid-template-columns: 1fr;
        padding: 5%;
        row-gap: 1%;
        column-gap: 0;
        padding-bottom: 70%;
    }
   
}

.carrinho{
    margin-top: 0px;
    background-color: #c8d9ec;
}
.container-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloco-carrinho{
    margin-top: 51px;
    margin-bottom: 150px;
}
.car-carrinho{
    border-bottom: 3px solid #9CA3A6;
}
.car-sacola{
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 10px;
    margin: 2px;
}
.carrinho-item h3{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.carrinho-item p {
    text-transform: uppercase;
    color: #858585;
    font-size: 10px;
    font-weight: bold
}
.seguro-carrinho p{
    text-transform: uppercase;
    color: #858585;
    font-size: 10px;
    font-weight: bold;
}
.carrinho-item2{
    display: flex;
    flex-direction: row;
}
.img-carrinho{
    width: 222px;
    border-radius: 25px;
    height: 223px;
    margin-top: 32px;
    margin-bottom: 41px;
}
.txt-carrinho{
    margin-left: 34px;
    margin-top: 26px;
}
.txt-carrinho h3{
    margin-top: 46px;
    font-size: 18px;
    font-weight: bold;
    color:#403C36;
}
.txt-carrinho a{
    text-decoration: none;
}
.cep-carrinho{
    margin-top: 18px;
}
.cep-carrinho input{
    padding: 8px 16px;
    border-radius: 4px;
    width: 24%;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    color: rgb(87, 87, 87);
    background-color: rgb(255, 255, 255);
    line-height: 26px;
    border: 2px solid #9CA3A6;
}
.bt-cep{
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 10px;
    margin: 2px;
    -moz-box-align: center;
    align-items: center;
  
}
.bt-cep button{
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    line-height: 1.2;
    border: 2px solid #363B40;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    height: 2.75rem;
    font-size: 1rem;
    background-color: #9CA3A6;
    color: white;
    font-weight: bold;
}
.consulta-cep{
    margin: 4px;
}
.consulta-cep label{
    font-size: 15px;
    font-weight: bold;
    color:#403C36;
}
.consulta-cep input{
    border: 3px solid #9CA3A6;
}
.bt-carrinho button{
    font-size: 1.05rem;
    background:#403C36;
    color: #fff;
    border: 0.25rem solid #403C36;
    padding: 0.85em 2.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-width: 290px;
}
.bt-carrinho button:hover {
    color: #363B40;
  }
  .bt-carrinho  button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
  .bt-carrinho button[class^="slide"]::after {
    transition: all 0.35s;
  }
  .bt-carrinho button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  .bt-carrinho button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }
  .bt-continuar-comprando button{
    font-size: 1.05rem;
    background-color: white;
    color: #363B40;
    border: 0.25rem solid #403C36;
    padding: 0.85em 2.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-width: 290px;
  }

.resumo-carrinho{
    display: flex;
    flex-direction: column;
    margin-top: -132px;
    margin-left: 91px;
    margin-right: -65px;
}
.resumo-carrinho h2{
    background: #f5f5f5;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
}
.res-item-carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #9CA3A6;
    padding: 20px;
    color: #9CA3A6;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}
.container-butoes{
    padding-top: 31px;
}
.item-total-carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}
@media screen and (max-width:480px){
    .container-carrinho {
    display: block;
    }
    .carrinho-item2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .resumo-carrinho {
        display: flex;
        flex-direction: column;
        margin-top: -132px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container-butoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bloco-carrinho {
        margin-top: 0px;
    }
    .txt-carrinho {
        margin-left: 0px;
        margin-top: 0px;
      }
      .txt-carrinho h3 {
        margin-top: 0px;
        margin-bottom: 22px;
      }
}
      
.container-quem-somos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 6%;
}
.img-quem-somos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-quem-somos img{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.container-texto-quem-somos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.texto-quem-somos{
    margin-left: 51px;
    text-align: justify;
    font-size: 1rem;
    font-family: "Arial",sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1,5;
    margin-bottom: 35px;
}
.texto-quem-somos h1{
    margin-bottom: 17px;
    margin-top: 10px;
}
.texto-quem-somos p{
    margin: 20px;
}
.lista-quem-somos{
    margin-left: 51px;
    text-align: justify;
    font-size: 1rem;
    font-family: "Arial",sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lista-quem-somos ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 1,8;
    text-align: center;
    padding-right: 206px;
    padding-left: 206px;
    padding-bottom: 17px;
}
.lista-quem-somos h1{
    margin-bottom: 17px;
    margin-top: 10px;
}
.cor1{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (max-device-width :480px) {
    .container-quem-somos{
        display: block;
    }
    .texto-quem-somos {
        margin-left: 0px;
        margin-top: 23px;
    }
    .lista-quem-somos{
        margin-left: 0px;
    }
    .lista-quem-somos ul{
        padding-right: 0;
        padding-left: 0;
    }
}
